.App {
  text-align: center;
}

.image-gallery {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.crypto-image {
  width: 100px; 
  height: 100px;
  object-fit: contain; 
  margin-bottom: 10px;
  border-radius: 10px;
  transition: transform 0.2s;
}

.crypto-image:hover {
  transform: scale(1.1);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.crypto-container {
  text-align: center;
  padding: 20px;
}
/* 📌 Center Add Crypto Section */
.add-crypto-container {
  display: flex;
  flex-direction: column;  
  align-items: center;  
  justify-content: center; 
  text-align: center;
  padding: 20px;
  background-color: #adadac;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  margin: 20px auto;}

.add-crypto-container input {
  width: 100%; 
  max-width: 300px; 
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #d1d0cf;
  background-color: white;
  color: black;
  font-size: 16px;
  text-align: center;
}

.add-crypto-container input::placeholder {
  color: black;
}

.add-crypto-container .button {
  width: 100%; 
  max-width: 300px; 
  text-align: center;
  background-color: #002e7d;
}

.error {
  color: red;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.crypto-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.crypto-item {
  text-align: center;
  background: #adadac;
  padding: 15px;
  border-radius: 10px;
  color: black;
  width: 180px;
  height: 220px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.crypto-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #5d3409;
}


